*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: RudawRegular;
}

.header{
    width: 80%;
    height: auto;
    margin: auto;
    padding: 3px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header a{
    text-align: left;
    text-decoration: none;
    font-size: 16px;
    color: black;
    font-family:'Franklin Gothic Medium';
}

.header a:hover{
    color: blue;
}

.header h1{
    font-size: 16px;
    color: black;
    align-items: center;
    font-family:'Franklin Gothic Medium';
}



/*---------------------- navbar section ---------------*/

.navbar{
    width: 100%;
    height: 8%;
    margin: auto;
    align-items: center;
    justify-content: space-around; 
    background-color: rgb(36, 36, 59);
    display: flex;  
}

.admin a{
    color: white;
    font-size: 14px;
    text-decoration: none;
    font-family: RudawRegular;
}

.list{
    transform: translateX(10%);
}

.list ul li{
    list-style: none;
    display: inline-block;
    float: right;
}

.list ul li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    margin: 0 2px;
    padding: 5px 20px;
    border-radius: 20px;
    font-family: RudawRegular;
    transition: 1s;
}

.list ul li a:hover{
    background-color: white;
    color: rgb(36, 36, 59);
}

.menu_icon img{
    width: 30px;
    height: 30px;
    cursor:pointer;
    display: none;
}





/*---------- marquee section -----------*/


.text_section{
    width: 80%;
    margin: auto;
    align-items: center;
    cursor: pointer;
}

.text_section marquee{
    color: black;
    font-size: 14px;        
    padding: 10px 0;
    border-bottom: 2px solid rgb(36, 36, 59);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0 0 20px 10px rgb(83, 83, 114,0.4);
}



/*-------------- reklam section -----------*/

.reklam{
    width: 80%;
    margin: auto;
    justify-content:center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1%;
    
}

.reklam_iamge{
    margin: 10px 40px;
    cursor: pointer;    
}

.reklam_iamge img{
    width: 100px;
    height:100px;
    margin: auto;
    border-radius: 50%;
    transition: 1s;
}

.reklam_iamge a{
    text-align: center;
    text-decoration: none;
    color:rgb(36, 36, 59)
}

.reklam_iamge img:hover{
    transform: scale(1.1);
}

.reklam_iamge h2{
    margin: 5px 0;
    font-size: 14px;
}




.secound_section{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1%;
}

.select_topic{
    text-align: center;
    align-items: center;
    display: block;
}

select{
    width: 100%;
    color: black;
    border: 1px solid rgb(83, 83, 114);
    font-size: 14px;
    font-family: RudawRegular;
    font-weight: bold;
    text-align: right;
    border-radius: 5px;
}





/*------------- media section ------------*/

@media only screen and (max-width:1100px) {
  

    .header{
        width: 100%;
        justify-content: space-around;
    }

    .admin{
        display: block;
    }

    .navbar{
        justify-content: space-around;
    }

    .menu_icon {
        display: none; 
    }

    .search input{
        width: 50%;
    }

    .reklam_iamge img{
        width: 60px;
        height: 60px;
    }
}



@media only screen and (max-width:850px) {
  
    .header{
        width: 100%;
        justify-content: space-around;
    }

    .admin{
        display: none;
    }

    .navbar{
        justify-content: space-around;
    }

    .logo{
        margin-right: 10px;
    }
    .list{
        margin-right: 10%;
    }

    .list ul li a{
        padding: 5px 15px ;
    }
    .menu_icon {
        display: none; 
    }

    .search input{
        width: 40%;
    }

    .reklam_iamge img{
        width: 60px;
        height: 60px;
    }
}




@media only screen and (max-width:600px) {
  
    .list ul  {
        width: 50%;
        background-color: rgb(36, 36, 59);
        position: absolute;
        top: 10%;
        right: 0; 
        z-index: 2;
    }

    .list ul li{
        display:block;
        margin: 12px 0;    
        padding: 0 5%; 
        text-align: left;
        
    }

    #menu_list{
        overflow: hidden;
        transition: 0.8s;
    }

    .admin{
        display: none;  
    }

    .header{
        justify-content: space-around;
    }

    .header a{
        display: none;
    }

    .navbar{
        width: 100%;
        justify-content: space-between;
    }

    .logo{
        margin-left: -50%;
    }

    .menu_icon {
        display: block; 
    }

    .reklam_iamge{
        margin: 10px 10px;
    }
    .reklam_iamge img{
        width: 60px;
        height: 60px;
    }

   .search input{
       width: 60%;
   }

}



@media only screen and (max-width:420px) {
  
    .list ul  {
        width: 50%;
        background-color: rgb(36, 36, 59);
        position: absolute;
        top: 10%;
        right: 0; 
        z-index: 2;
    }

    .list ul li{
        display:block;
        margin: 12px 0;    
        padding: 0 5%; 
        text-align: left;
        
    }

    #menu_list{
        overflow: hidden;
        transition: 0.8s;
    }

    .admin_icon{
        display: none;  
    }

    .search_seaction{
        display: none;
    }

    .logo{
        margin-right: 10%;
    }
    .logo img{
        width: 115px;
        height: 30px;
    }

    .menu_icon img{
        width: 100%;
        height: 100%;
        display: block; 
    }

    .reklam_iamge{
        margin: 10px 10px;
    }
    .reklam_iamge img{
        width: 60px;
        height: 60px;
    }

}



/*--------------- media section 1 --------------*/

@media only screen and (max-width:380px) {
  
    .list ul  {
        width: 50%;
        background-color: rgb(36, 36, 59);
        position: absolute;
        top: 10%;
        right: 0; 
        z-index: 2;
    }

    .list ul li{
        display:block;
        margin: 12px 0;    
        padding: 0 5%; 
        text-align: left;
        
    }

    #menu_list{
        overflow: hidden;
        transition: 0.8s;
    }

    .admin_icon{
        display: none;  
    }

    .search_seaction{
        display: none;
    }

    .logo{
        margin-right: 10%;
    }
    .logo img{
        width: 90px;
        height: 30px;
    }

    .menu_icon img{
        width: 100%;
        height: 100%;
        display: block; 
    }

    .reklam_iamge{
        margin: 10px 6px;
    }
    .reklam_iamge img{
        width: 60px;
        height: 60px;
    }

    .city img{
        width: 120px;
        height: 110px;
    }
}


@media only screen and (max-width:290px) {
  
    .list ul  {
        width: 50%;
        background-color: rgb(36, 36, 59);
        position: absolute;
        top: 10%;
        right: 0; 
        z-index: 2;
    }

    .list ul li{
        display:block;
        margin: 12px 0;    
        padding: 0 5%; 
        text-align: left;
        
    }

    #menu_list{
        overflow: hidden;
        transition: 0.8s;
    }

   .search input{
       width: 50%;
   }

    .logo{
        margin-right: 0%;
    }
    .logo img{
        width: 90px;
        height: 30px;
    }

    .menu_icon img{
        width: 100%;
        height: 100%;
        display: block; 
    }

    .reklam_iamge{
        margin: 10px 3px;
    }
    .reklam_iamge img{
        width: 50px;
        height: 50px;
    }

    .city img{
        width: 85px;
        height: 100px;
        margin: 5px 2px;
    }

}






